# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/
target/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
.vscode/
config.json
configTest.json

linux/
ai-story-generation-app/target/surefire-reports/fullstack_fox.APICallsTest.txt
ai-story-generation-app/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
magic-pages-app/magic_pages/pubspec.lock
magic-pages-app/magic_pages/pubspec.lock
ai-story-generation-app/resources/configReal.json
ai-story-generation-app/src/test/java/fullstack_fox/resources/configReal.json
*.properties
firebase-config.json
google-services.json
firebase_options.dart
