# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
.vscode/
config.json
configTest.json
magic-pages-app/magic_pages/linux/flutter/generated_plugin_registrant.cc
magic-pages-app/magic_pages/linux/flutter/generated_plugin_registrant.h
magic-pages-app/magic_pages/linux/flutter/generated_plugins.cmake
magic-pages-app/magic_pages/macos/Flutter/GeneratedPluginRegistrant.swift
magic-pages-app/magic_pages/windows/flutter/generated_plugin_registrant.cc
magic-pages-app/magic_pages/windows/flutter/generated_plugin_registrant.h
magic-pages-app/magic_pages/windows/flutter/generated_plugins.cmake
